ffmpeg==1.4
fonttools==4.28.5
gast==0.2.2
gitdb==4.0.9
GitPython==3.1.26
h5py==3.6.0
imageio==2.10.1
imageio-ffmpeg==0.4.5
iniconfig==1.1.1
itsdangerous==2.1.0
keras==2.7.0
matplotlib==3.5.1
moviepy==1.0.3
opencv-python==4.5.5.62
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyJWT==1.7.1
pyreadline==2.1
pytest==6.2.5
python-dateutil==2.8.1
pytz==2020.1
pywebio==1.5.2
pywinpty==0.5.7
PyYAML==5.3.1
tf-keras-vis==0.8.0
typing-extensions==4.0.1
validators==0.18.2
voila==0.3.2
webencodings==0.5.1
websocket-client==1.3.1
websockets==10.2
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
wincertstore==0.2
