anyio==3.5.0
arrow==1.2.1
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.4.0

Babel==2.9.1

blinker==1.4
brotlipy==0.7.0
cached-property==1.5.2

certifi==2021.10.8

chardet==3.0.4
click==7.1.2


cycler==0.11.0
dataclasses==0.6

decorator==4.4.2

Deprecated==1.2.13
entrypoints==0.3
ffmpeg==1.4
Flask==2.0.3
flatbuffers==2.0
fonttools==4.28.5
gast==0.2.2
gitdb==4.0.9
GitPython==3.1.26

google-auth-oauthlib==0.4.1
google-pasta==0.2.0
gql==2.0.0
graphql-core==2.3.2

h5py==3.6.0
halo==0.0.31

imageio==2.10.1
imageio-ffmpeg==0.4.5
import-ipynb==0.1.3

iniconfig==1.1.1

itsdangerous==2.1.0

json5==0.9.6

jupyter==1.0.0

jupyter-server==1.13.5

jupyterlab-server==2.10.3

keras==2.7.0

Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
libclang==12.0.0
log-symbols==0.0.14

matplotlib==3.5.1

mkl-fft==1.2.0
mkl-random==1.2.0
mkl-service==2.3.0
moviepy==1.0.3

nbconvert==6.4.2

oauthlib==3.1.0
olefile==0.46
opencv-python==4.5.5.62
opt-einsum==3.1.0

Pillow==8.4.0
pluggy==1.0.0
proglog==0.1.9

promise==2.3

protobuf==3.13.0
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8

PyJWT==1.7.1

pyreadline==2.1

pytest==6.2.5
python-dateutil==2.8.1
pytz==2020.1
pywebio==1.5.2
#pywin32==227
pywinpty==0.5.7
PyYAML==5.3.1

requests-oauthlib==1.3.0

Rx==1.6.1

scipy==1.4.1

six==1.15.0
smmap==5.0.0
sniffio==1.2.0
spinners==0.0.24
tabulate==0.8.9
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.7.0
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-gpu==2.7.0
tensorflow-io-gcs-filesystem==0.23.1
termcolor==1.1.0
#terminado==0.9.4

tf-keras-vis==0.8.0

toml==0.10.2

tqdm==4.62.3

transform==0.0.56
transform-tools==0.0.23
typing-extensions==4.0.1
ua-parser==0.10.0
update-checker==0.18.0

user-agents==2.2.0
validators==0.18.2
voila==0.3.2

webencodings==0.5.1
websocket-client==1.3.1
websockets==10.2
Werkzeug==2.0.3
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.12.1
xlrd==1.2.0
xlwt==1.3.0
